<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>карта распространения коронавируса</h1>
    <div style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс.Карты</a><a href="https://yandex.by/maps/covid19?ll=41.775580%2C54.894027&utm_medium=mapframe&utm_source=maps&z=3"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Карта распространения коронавируса в России и мире</a><iframe src="https://yandex.by/maps/covid19?embed=covid-map" width="1600" height="650" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    <style>
        h1 {
            font-size: 20px;
            color: indigo;
        }
    </style>
</body>

</html>