<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Table with colgroup</p>
    <table>
        <colgroup span="4"></colgroup>
        <style>
            table {
                border: black 2px solid;
            }
            
            td {
                border: black 2px solid;
            }
        </style>
        <tr>
            <th>contact</th>

        </tr>
        <tr>
            <td>86868570346</td>
            <td>13244364364</td>
            <td>43643646433</td>
            <td>34456466645</td>
        </tr>
        <tr>
            <td>45543454541</td>
            <td>34788976679</td>
            <td>64865345656</td>
            <td>24545465656</td>
        </tr>
    </table>
</body>

</html>