<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout/style.css">
    <!-- <link rel="stylesheet" href="contacts.html">
    <link rel="stylesheet" href="api.html"> -->
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="contacts.html">Контакты</a>
                </li>
                <li>
                    <a href="api.html">Карта</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>