* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    background: aquamarine;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 20px;
    margin: 20px;
}